body {
  margin: 1.25em 4.375em; 
  font-family: Arial, sans-serif; 
  text-align: center; 
  background-image: url('../images/Forrest.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

.container {
  width:60%;
  margin: 0 auto;
  background-color: white; 
  border-radius: 1.5em; 
  padding: 1.25em; 
}

main ul {
  list-style-position: inside; 
  text-align: center; 
  padding-left: 0;
}

main ul li {
  margin-bottom: 0.5em; 
}

nav ul {
  list-style-type: none; 
  padding: 0; 
  text-align: center;
}

nav ul li {
  display: inline; 
  margin-right: 1.25em; 
}

nav ul li a {
  text-decoration: none; 
  color: white;
}

footer {
  margin-top: 4.375em; 
  color: white;
}

footer p {
  margin: 0; 
  text-align: left;
}
