body {
  margin: 1.25em 4.375em;
  font-family: Arial, sans-serif;
  text-align: center;
  background-size: cover;
  background-color: black;
  background-image: url('../images/curtain.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

#achi {
  text-align: justify;
}

main ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main ul li {
  margin-bottom: 0.625em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1.25em;
}

nav ul li a {
  text-decoration: none;
}

#image {
  text-align: center;
}

#image img {
  width: 18.75em;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.625em;
  align-self: center;
}

footer {
  margin-top: 4.375em;
}

footer p {
  margin: 0;
  text-align: left;
}
